In [8]:
import sys
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pickle
from data.load_data_from_sql import connect_to_database, read_sql_to_dataframe, close_connection
from scripts.cleaner import DataCleaner

cleaner = DataCleaner()
%matplotlib inline

In [9]:
# Function to add the project path to sys.path
def add_project_path():
    """Add the project path to sys.path."""
    project_path = 'C:\\Users\\user\\Desktop\\10 acc\\Week 1\\User-Analytics-in-Telecom-Industry'
    sys.path.append(project_path)

In [10]:
# Function to perform the main analysis
def main_analysis():
    """Main function to execute your analysis."""
    # Add the project path to sys.path
    add_project_path()

    db_params = {
        'dbname': 'week-1',
        'user': 'postgres',
        'password': 'postgres',
        'host': 'localhost',
        'port': '5432',
    }

    # Example query
    query = "SELECT * FROM cleaned_telecom_data;"

    # Connect to the database
    conn = connect_to_database(db_params)

    # Read results into a Pandas DataFrame
    cleaned_df = read_sql_to_dataframe(conn, query)

    # Close the database connection
    close_connection(conn)


    # return the DataFrame
    return cleaned_df

In [11]:
# Call the main analysis function
cleaned_df = main_analysis()
cleaned_df.head()

C:\Users\user\Desktop\10 acc\Week 1\User-Analytics-in-Telecom-Industry\data\load_data_from_sql.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,bearer_id,start,start_ms,end,end_ms,dur._(ms),imsi,msisdn/number,imei,last_location_name,...,youtube_dl_(bytes),youtube_ul_(bytes),netflix_dl_(bytes),netflix_ul_(bytes),gaming_dl_(bytes),gaming_ul_(bytes),other_dl_(bytes),other_ul_(bytes),total_ul_(bytes),total_dl_(bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [12]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 150001 non-null  float64
 1   start                                     150001 non-null  datetime64[ns]
 2   start_ms                                  150001 non-null  float64
 3   end                                       150001 non-null  datetime64[ns]
 4   end_ms                                    150001 non-null  float64
 5   dur._(ms)                                 150001 non-null  float64
 6   imsi                                      150001 non-null  float64
 7   msisdn/number                             150001 non-null  float64
 8   imei                                      150001 non-null  float64
 9   last_location_name                        150001 non-null  object
 10  avg_rtt_dl_(ms)                           150001 non-null  float64
 11  avg_rtt_ul_(ms)                           150001 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150001 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150001 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               150001 non-null  float64
 15  tcp_ul_retrans._vol_(bytes)               150001 non-null  float64
 16  dl_tp_<_50_kbps_(%)                       150001 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            150001 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             150001 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        150001 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       150001 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             150001 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            150001 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      150001 non-null  float64
 24  http_dl_(bytes)                           150001 non-null  float64
 25  http_ul_(bytes)                           150001 non-null  float64
 26  activity_duration_dl_(ms)                 150001 non-null  float64
 27  activity_duration_ul_(ms)                 150001 non-null  float64
 28  dur._(ms).1                               150001 non-null  float64
 29  handset_manufacturer                      150001 non-null  object
 30  handset_type                              150001 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           150001 non-null  float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     150001 non-null  float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  150001 non-null  float64
 34  nb_of_sec_with_37500b_<_vol_ul            150001 non-null  float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    150001 non-null  float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    150001 non-null  float64
 37  nb_of_sec_with_vol_dl_<_6250b             150001 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             150001 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150001 non-null  float64
 54  total_dl_(bytes)                          150001 non-null  float64
dtypes: datetime64[ns](2), float64(50), object(3)
memory usage: 62.9+ MB

In [13]:
cleaned_df.isnull().sum()

bearer_id                                   0
start                                       0
start_ms                                    0
end                                         0
end_ms                                      0
dur._(ms)                                   0
imsi                                        0
msisdn/number                               0
imei                                        0
last_location_name                          0
avg_rtt_dl_(ms)                             0
avg_rtt_ul_(ms)                             0
avg_bearer_tp_dl_(kbps)                     0
avg_bearer_tp_ul_(kbps)                     0
tcp_dl_retrans._vol_(bytes)                 0
tcp_ul_retrans._vol_(bytes)                 0
dl_tp_<_50_kbps_(%)                         0
50_kbps_<_dl_tp_<_250_kbps_(%)              0
250_kbps_<_dl_tp_<_1_mbps_(%)               0
dl_tp_>_1_mbps_(%)                          0
ul_tp_<_10_kbps_(%)                         0
10_kbps_<_ul_tp_<_50_kbps_(%)               0
50_kbps_<_ul_tp_<_300_kbps_(%)              0
ul_tp_>_300_kbps_(%)                        0
http_dl_(bytes)                             0
http_ul_(bytes)                             0
activity_duration_dl_(ms)                   0
activity_duration_ul_(ms)                   0
dur._(ms).1                                 0
handset_manufacturer                        0
handset_type                                0
nb_of_sec_with_125000b_<_vol_dl             0
nb_of_sec_with_1250b_<_vol_ul_<_6250b       0
nb_of_sec_with_31250b_<_vol_dl_<_125000b    0
nb_of_sec_with_37500b_<_vol_ul              0
nb_of_sec_with_6250b_<_vol_dl_<_31250b      0
nb_of_sec_with_6250b_<_vol_ul_<_37500b      0
nb_of_sec_with_vol_dl_<_6250b               0
nb_of_sec_with_vol_ul_<_1250b               0
social_media_dl_(bytes)                     0
social_media_ul_(bytes)                     0
google_dl_(bytes)                           0
google_ul_(bytes)                           0
email_dl_(bytes)                            0
email_ul_(bytes)                            0
youtube_dl_(bytes)                          0
youtube_ul_(bytes)                          0
netflix_dl_(bytes)                          0
netflix_ul_(bytes)                          0
gaming_dl_(bytes)                           0
gaming_ul_(bytes)                           0
other_dl_(bytes)                            0
other_ul_(bytes)                            0
total_ul_(bytes)                            0
total_dl_(bytes)                            0
dtype: int64

### Task 2

In [14]:
# top 10 handsets used by the customers
cleaned_df["handset_type"].value_counts().head(10)

Huawei B528S-23A                20324
Apple iPhone 6S (A1688)          9419
Apple iPhone 6 (A1586)           9023
undefined                        8987
Apple iPhone 7 (A1778)           6326
Apple iPhone Se (A1723)          5187
Apple iPhone 8 (A1905)           4993
Apple iPhone Xr (A2105)          4568
Samsung Galaxy S8 (Sm-G950F)     4520
Apple iPhone X (A1901)           3813
Name: handset_type, dtype: int64

In [15]:
# top 3 handset manufacturers
cleaned_df["handset_manufacturer"].value_counts().head(3)

Apple      60137
Samsung    40839
Huawei     34423
Name: handset_manufacturer, dtype: int64

In [16]:
# top 5 handsets per top 3 handset manufacturer
handsets_per_manufacturers=cleaned_df[cleaned_df["handset_manufacturer"].str.contains("Apple|Samsung|Huawei") ][["handset_manufacturer","handset_type"]]
handsets_per_manufacturers

       handset_manufacturer                 handset_type
0                   Samsung   Samsung Galaxy A5 Sm-A520F
1                   Samsung  Samsung Galaxy J5 (Sm-J530)
2                   Samsung     Samsung Galaxy A8 (2018)
4                   Samsung             Samsung Sm-G390F
6                    Huawei          Huawei Mate 20 Lite
...                     ...                          ...
149996                Apple  Apple iPhone 8 Plus (A1897)
149997                Apple      Apple iPhone Se (A1723)
149998                Apple      Apple iPhone Xs (A2097)
149999               Huawei               Huawei Fig-Lx1
150000                Apple             Huawei B528S-23A

[135399 rows x 2 columns]

In [17]:
list(handsets_per_manufacturers.groupby(["handset_manufacturer"]))[0][1]["handset_type"].value_counts().head(5)

C:\Users\user\AppData\Local\Temp\ipykernel_9836\3955900147.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  list(handsets_per_manufacturers.groupby(["handset_manufacturer"]))[0][1]["handset_type"].value_counts().head(5)

Apple iPhone 6S (A1688)    9419
Apple iPhone 6 (A1586)     9023
Apple iPhone 7 (A1778)     6326
Apple iPhone Se (A1723)    5187
Apple iPhone 8 (A1905)     4993
Name: handset_type, dtype: int64

In [18]:
list(handsets_per_manufacturers.groupby(["handset_manufacturer"]))[1][1]["handset_type"].value_counts().head(5)

C:\Users\user\AppData\Local\Temp\ipykernel_9836\1670706610.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  list(handsets_per_manufacturers.groupby(["handset_manufacturer"]))[1][1]["handset_type"].value_counts().head(5)

Huawei B528S-23A                  19752
Huawei E5180                       2079
Huawei P20 Lite Huawei Nova 3E     2021
Huawei P20                         1480
Huawei Y6 2018                      997
Name: handset_type, dtype: int64

In [19]:
list(handsets_per_manufacturers.groupby(["handset_manufacturer"]))[2][1]["handset_type"].value_counts().head(5)

C:\Users\user\AppData\Local\Temp\ipykernel_9836\2986698792.py:1: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  list(handsets_per_manufacturers.groupby(["handset_manufacturer"]))[2][1]["handset_type"].value_counts().head(5)

Samsung Galaxy S8 (Sm-G950F)    4520
Samsung Galaxy A5 Sm-A520F      3724
Samsung Galaxy J5 (Sm-J530)     3696
Samsung Galaxy J3 (Sm-J330)     3484
Samsung Galaxy S7 (Sm-G930X)    3199
Name: handset_type, dtype: int64

#### Interpretation

#### Recommendation to marketing teams