In [10]:
import sys
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.subplots as sp
import plotly.graph_objects as go
import numpy as np
import pickle
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from data.load_data_from_sql import connect_to_database, read_sql_to_dataframe, close_connection
from scripts.cleaner import DataCleaner
from scripts.utils import Utils

cleaner = DataCleaner()
utility = Utils()
%matplotlib inline

In [11]:
# Function to add the project path to sys.path
def add_project_path():
    """Add the project path to sys.path."""
    project_path = 'C:\\Users\\user\\Desktop\\10 acc\\Week 1\\User-Analytics-in-Telecom-Industry'
    sys.path.append(project_path)

In [12]:
# Function to perform the main analysis
def main_analysis():
    """Main function to execute your analysis."""
    # Add the project path to sys.path
    add_project_path()

    db_params = {
        'dbname': 'week-1',
        'user': 'postgres',
        'password': 'postgres',
        'host': 'localhost',
        'port': '5432',
    }

    # Example query
    query = "SELECT * FROM cleaned_telecom_data;"

    # Connect to the database
    conn = connect_to_database(db_params)

    # Read results into a Pandas DataFrame
    cleaned_df = read_sql_to_dataframe(conn, query)

    # Close the database connection
    close_connection(conn)


    # return the DataFrame
    return cleaned_df

In [13]:
# Call the main analysis function
cleaned_df = main_analysis()
cleaned_df.head()

C:\Users\user\Desktop\10 acc\Week 1\User-Analytics-in-Telecom-Industry\data\load_data_from_sql.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,bearer_id,start,start_ms,end,end_ms,dur._(ms),imsi,msisdn/number,imei,last_location_name,...,youtube_dl_(bytes),youtube_ul_(bytes),netflix_dl_(bytes),netflix_ul_(bytes),gaming_dl_(bytes),gaming_ul_(bytes),other_dl_(bytes),other_ul_(bytes),total_ul_(bytes),total_dl_(bytes)
0,1.311448e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [14]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150001 entries, 0 to 150000
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   bearer_id                                 150001 non-null  float64
 1   start                                     150001 non-null  datetime64[ns]
 2   start_ms                                  150001 non-null  float64
 3   end                                       150001 non-null  datetime64[ns]
 4   end_ms                                    150001 non-null  float64
 5   dur._(ms)                                 150001 non-null  float64
 6   imsi                                      150001 non-null  float64
 7   msisdn/number                             150001 non-null  float64
 8   imei                                      150001 non-null  float64
 9   last_location_name                        150001 non-null  object
 10  avg_rtt_dl_(ms)                           150001 non-null  float64
 11  avg_rtt_ul_(ms)                           150001 non-null  float64
 12  avg_bearer_tp_dl_(kbps)                   150001 non-null  float64
 13  avg_bearer_tp_ul_(kbps)                   150001 non-null  float64
 14  tcp_dl_retrans._vol_(bytes)               150001 non-null  float64
 15  tcp_ul_retrans._vol_(bytes)               150001 non-null  float64
 16  dl_tp_<_50_kbps_(%)                       150001 non-null  float64
 17  50_kbps_<_dl_tp_<_250_kbps_(%)            150001 non-null  float64
 18  250_kbps_<_dl_tp_<_1_mbps_(%)             150001 non-null  float64
 19  dl_tp_>_1_mbps_(%)                        150001 non-null  float64
 20  ul_tp_<_10_kbps_(%)                       150001 non-null  float64
 21  10_kbps_<_ul_tp_<_50_kbps_(%)             150001 non-null  float64
 22  50_kbps_<_ul_tp_<_300_kbps_(%)            150001 non-null  float64
 23  ul_tp_>_300_kbps_(%)                      150001 non-null  float64
 24  http_dl_(bytes)                           150001 non-null  float64
 25  http_ul_(bytes)                           150001 non-null  float64
 26  activity_duration_dl_(ms)                 150001 non-null  float64
 27  activity_duration_ul_(ms)                 150001 non-null  float64
 28  dur._(ms).1                               150001 non-null  float64
 29  handset_manufacturer                      150001 non-null  object
 30  handset_type                              150001 non-null  object
 31  nb_of_sec_with_125000b_<_vol_dl           150001 non-null  float64
 32  nb_of_sec_with_1250b_<_vol_ul_<_6250b     150001 non-null  float64
 33  nb_of_sec_with_31250b_<_vol_dl_<_125000b  150001 non-null  float64
 34  nb_of_sec_with_37500b_<_vol_ul            150001 non-null  float64
 35  nb_of_sec_with_6250b_<_vol_dl_<_31250b    150001 non-null  float64
 36  nb_of_sec_with_6250b_<_vol_ul_<_37500b    150001 non-null  float64
 37  nb_of_sec_with_vol_dl_<_6250b             150001 non-null  float64
 38  nb_of_sec_with_vol_ul_<_1250b             150001 non-null  float64
 39  social_media_dl_(bytes)                   150001 non-null  float64
 40  social_media_ul_(bytes)                   150001 non-null  float64
 41  google_dl_(bytes)                         150001 non-null  float64
 42  google_ul_(bytes)                         150001 non-null  float64
 43  email_dl_(bytes)                          150001 non-null  float64
 44  email_ul_(bytes)                          150001 non-null  float64
 45  youtube_dl_(bytes)                        150001 non-null  float64
 46  youtube_ul_(bytes)                        150001 non-null  float64
 47  netflix_dl_(bytes)                        150001 non-null  float64
 48  netflix_ul_(bytes)                        150001 non-null  float64
 49  gaming_dl_(bytes)                         150001 non-null  float64
 50  gaming_ul_(bytes)                         150001 non-null  float64
 51  other_dl_(bytes)                          150001 non-null  float64
 52  other_ul_(bytes)                          150001 non-null  float64
 53  total_ul_(bytes)                          150001 non-null  float64
 54  total_dl_(bytes)                          150001 non-null  float64
dtypes: datetime64[ns](2), float64(50), object(3)
memory usage: 62.9+ MB

In [15]:
cleaned_df.isnull().sum()

bearer_id                                   0
start                                       0
start_ms                                    0
end                                         0
end_ms                                      0
dur._(ms)                                   0
imsi                                        0
msisdn/number                               0
imei                                        0
last_location_name                          0
avg_rtt_dl_(ms)                             0
avg_rtt_ul_(ms)                             0
avg_bearer_tp_dl_(kbps)                     0
avg_bearer_tp_ul_(kbps)                     0
tcp_dl_retrans._vol_(bytes)                 0
tcp_ul_retrans._vol_(bytes)                 0
dl_tp_<_50_kbps_(%)                         0
50_kbps_<_dl_tp_<_250_kbps_(%)              0
250_kbps_<_dl_tp_<_1_mbps_(%)               0
dl_tp_>_1_mbps_(%)                          0
ul_tp_<_10_kbps_(%)                         0
10_kbps_<_ul_tp_<_50_kbps_(%)               0
50_kbps_<_ul_tp_<_300_kbps_(%)              0
ul_tp_>_300_kbps_(%)                        0
http_dl_(bytes)                             0
http_ul_(bytes)                             0
activity_duration_dl_(ms)                   0
activity_duration_ul_(ms)                   0
dur._(ms).1                                 0
handset_manufacturer                        0
handset_type                                0
nb_of_sec_with_125000b_<_vol_dl             0
nb_of_sec_with_1250b_<_vol_ul_<_6250b       0
nb_of_sec_with_31250b_<_vol_dl_<_125000b    0
nb_of_sec_with_37500b_<_vol_ul              0
nb_of_sec_with_6250b_<_vol_dl_<_31250b      0
nb_of_sec_with_6250b_<_vol_ul_<_37500b      0
nb_of_sec_with_vol_dl_<_6250b               0
nb_of_sec_with_vol_ul_<_1250b               0
social_media_dl_(bytes)                     0
social_media_ul_(bytes)                     0
google_dl_(bytes)                           0
google_ul_(bytes)                           0
email_dl_(bytes)                            0
email_ul_(bytes)                            0
youtube_dl_(bytes)                          0
youtube_ul_(bytes)                          0
netflix_dl_(bytes)                          0
netflix_ul_(bytes)                          0
gaming_dl_(bytes)                           0
gaming_ul_(bytes)                           0
other_dl_(bytes)                            0
other_ul_(bytes)                            0
total_ul_(bytes)                            0
total_dl_(bytes)                            0
dtype: int64

### Task 3

#### Session frequency

In [18]:
#Group data by MSISDN
msisdn_group = cleaned_df.groupby("msisdn/number")
session_freq=msisdn_group.agg({"bearer_id":"count"})

session_freq.rename(columns={"bearer_id":"session_frequency"},inplace=True)

session_freq.sort_values(by=["session_frequency"],ascending=False,inplace=True)
session_freq.dropna(axis=0,inplace=True)
session_freq.head(10)

               session_frequency
msisdn/number
3.366371e+10                1067
3.362632e+10                  18
3.361489e+10                  17
3.362578e+10                  17
3.365973e+10                  16
3.367588e+10                  15
3.376054e+10                  15
3.366716e+10                  13
3.360452e+10                  12
3.376041e+10                  12

#### Session duration

In [20]:
session_dur=msisdn_group.agg({"dur._(ms)":"sum"})
session_dur.rename(columns={"dur._(ms)":"duration_ms"},inplace=True)
session_dur.sort_values(by=['duration_ms'],ascending=False,inplace=True)
session_dur.dropna(axis=0,inplace=True)
session_dur.head(10)

               duration_ms
msisdn/number
3.366371e+10    72655568.0
3.362578e+10    18553754.0
3.361489e+10     9966898.0
3.376054e+10     9279434.0
3.362632e+10     8791927.0
3.366716e+10     8744914.0
3.366284e+10     6614270.0
3.366469e+10     6288730.0
3.360313e+10     6287761.0
3.366746e+10     5649882.0

#### Total traffic

In [22]:
cleaned_df["grand_total"]=cleaned_df['total_ul_(bytes)']+cleaned_df['total_dl_(bytes)']
total_data=msisdn_group.agg({'total_ul_(bytes)':'sum','total_dl_(bytes)':'sum'})
total_data['grand_total_(bytes)']=total_data['total_ul_(bytes)']+total_data['total_dl_(bytes)']
total_data.sort_values(by=['grand_total_(bytes)'],ascending=False,inplace=True)
total_data.dropna(axis=0,inplace=True)
total_data.head(10)

               total_ul_(bytes)  total_dl_(bytes)  grand_total_(bytes)
msisdn/number
3.366371e+10       4.441823e+10      4.875441e+11         5.319623e+11
3.361489e+10       6.894830e+08      8.156743e+09         8.846226e+09
3.376054e+10       7.034786e+08      7.811295e+09         8.514774e+09
3.362578e+10       7.295774e+08      7.770043e+09         8.499621e+09
3.362632e+10       6.696507e+08      7.301517e+09         7.971167e+09
3.367588e+10       5.815688e+08      7.309542e+09         7.891111e+09
3.365973e+10       6.242603e+08      7.081602e+09         7.705863e+09
3.366646e+10       4.050610e+08      6.903440e+09         7.308501e+09
3.376041e+10       5.215189e+08      6.610852e+09         7.132371e+09
3.366471e+10       4.712445e+08      6.400774e+09         6.872018e+09

In [24]:
# Aggregate User Engagement Metric
user_engagement = msisdn_group.agg({'grand_total': 'sum', 'dur._(ms)': 'sum','bearer_id': 'count'})
user_engagement = user_engagement.rename(columns={'grand_total': 'session_traffic(bytes)', 'dur._(ms)': 'session_duration(ms)', 'bearer_id': 'session_freq'})
user_engagement.dropna(axis=0,inplace=True)
user_engagement

               session_traffic(bytes)  session_duration(ms)  session_freq
msisdn/number
3.360100e+10             8.786906e+08              116720.0             1
3.360100e+10             1.568596e+08              181230.0             1
3.360100e+10             5.959665e+08              134969.0             1
3.360101e+10             4.223207e+08               49878.0             1
3.360101e+10             1.457411e+09               37104.0             2
...                               ...                   ...           ...
3.379000e+10             7.146416e+08                8810.0             1
3.379000e+10             4.803073e+08              140988.0             1
3.197021e+12             2.321240e+08              877385.0             1
3.370000e+14             5.962878e+08              253030.0             1
8.823971e+14             1.391536e+08              869844.0             1

[106856 rows x 3 columns]